.c-datepicker__header-date {
    background: #df5152;
    height: 200px;
    padding: 16px 0;
}

.c-scrim--shown {
    opacity: 1;
    z-index: 99;
}

.c-datepicker--open {
    opacity: 1;
    top: 50%;
    z-index: 100;
}

.c-datepicker__header-day {
    height: 32px;
    background: #ba4748;
    color: white;
    line-height: 32px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
}

.c-datepicker__toggle--right {
    right: 10px;
}

.c-datepicker__clock {
    position: relative;
    width: 200px;
    height: 380px;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    font-size: 14px;
    line-height: 50px;
    padding: 160px 0 20px 0;
    margin: 0 auto;
}

.c-btn {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    min-width: 88px;
    height: 36px;
    margin: 10px 8px;
    padding: 0 8px;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background: #F1F1F1;
    color: #393939;
    transition: background 200ms ease-in-out;
    box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
}

.c-btn--flat {
    background: #df5152;
    margin: 10px 8px;
    min-width: 52px;
    color: #fff;
    text-decoration: none;
}

.c-btn:hover {
    background: rgba(153, 153, 153, 0.2);
    color: #393939;
    text-decoration: none;
}

.c-btn:active {
  box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
}

.c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
  box-shadow: none;
}

.c-datepicker {
    position: absolute;
}

.c-datepicker__day-head {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    height: 36px;
    padding-left: 13px;
}