body {
    background-color: #fff;
}

.background-container {
    background-image: url("../images/main-bg.jpeg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 160%;
    position: fixed;
    z-index: -88;
    width: 100%;
}

.background-container-film {
    background-color: rgba(0, 0, 0, 0.59);
    position: fixed;
    z-index: -87;
    width: 100%;
}

.book-title {
    font-weight: bold;
    color:#fff;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
}

.logo-kanan img {
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container-header {
    background-color: #65c03a;
    border-bottom: solid 4px #3b8419;
    min-height: 50px;
    padding-bottom:5px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.menu-sidebar-btn {
    color: #fff;
    font-size:30px;
    margin-top:7px;
}

.menu-clean-btn {
    color: #409817;
    font-size:30px;
    margin-top:7px;
}

.menu-search-btn {
    color: #fff;
    font-size:20px;
    margin-top: 10px;
}

.search-box {
    padding-top:4px;
}

.stok-mobil {
    width:100%;
    border:none;
    text-align: left;
    padding-top:15px;
    padding-bottom:20px;
}

.stok-mobil i {
    font-size: 30px;
    color: #fa6703;
    display: inline;
}

.stok-mobil p {
    display: inline;
    font-size: 20px;
}

.side-bar-background {
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 88;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

.side-bar {
    z-index: 89;
    position: fixed;
    width: 80%;
    display: none;
}

.side-bar-box {
    background-color: #333333;
    color: #ccccd1;
    min-height: 1000px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo-container {
    text-align: center;
    height: 180px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-container img {
    width: 120px;
    margin-top:15px;
}

.side-bar-background-col {
    min-height: 700px;
}

.menu-container {
    list-style-type: none;
}

.menu-container ul {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-container ul li a {
    color: #ababab;
    font-size: 16px;
    margin-left: 20px;
}

.menu-container ul li {
    border-bottom:solid 1px #757575;
    padding-top:10px;
    padding-bottom:10px;
}

.main-container {
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: #393939;
    text-align: center;
    margin-bottom: 15px;
    min-height: 70px;
    font-size: 18px;
    border-bottom: solid 5px #df5152;
    color: #fff;
    font-family: Lato;
    font-weight: bold;
}

.carousel-control.right {
    background:none;
}

.carousel-control.left {
    background:none;
}

.gogo-banner {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.banner-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    margin-bottom:5px;
}

.item-image {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-right:0px;
}

.item-image img {
    max-height: 150px;
}

.item-description {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
}

.item-title {
    margin: 0px;
    font-weight: bold;
    color : #ff8636;
}

.banner-title {
    font-family: Impact, Charcoal, sans-serif;
}

.promo-label {
    width: 60px;
    position: absolute;
}

.soldout-label {
    width: 80px;
    position: absolute;
}

.kategori-btn {
    width: 100%;
    margin-top:5px;
}

.big-foto-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mini-foto-box {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    float: left;
    border:solid 1px #fff;
}

.deskripsi-utama {
    background-color: #cdcdcd;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:15px;
    margin-bottom:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.deskripsi {
    margin-left: 0px;
    margin-right: 0px;
    margin-top:15px;
    margin-bottom:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.ui-icon-loading {
    display: none;
}

.ui-loader-default {
    display: none;
}

.foto-mobil-utama {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#image-iframe-zoom {
    border:solid 1px #fff;
    width: 100%;
    height: 300px;
}

.curent-price {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.disable-price {
    font-size: 15px;
}

.red-map {
    color: #ff8636;
    font-size:20px;
    margin-top:10px;
}

.user-call-btn {
    background-color: #ff8636;
    border:solid 1px #dd6414;
}

.user-call-btn:hover {
    background-color: #dd6414;
    border:solid 1px #dd6414;
}

#deskripsi br {
    /*
    display: none;
    */
}

.foto-mini-container-container {
    overflow-y: hidden;
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

#foto-mini-container {
    margin: 0 auto;
}

.dp-minimal-container {
    background-color: #ff8636;
    min-width: 100px;
    height: 50px;
    color:#000;
    padding:5px;
    background-image: url("../image/dp-minimal-ribon.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dp-minimal-container p {
    margin: 0px;
}

#download-foto-act {
    position: absolute;
    right: 20px;
    top: 20px;
}

.loading-animated {
    width: 30%;
    height: 100px;
    background-size: 150%;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .main-img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        height: 150px;
        background-size: 100% auto;
    }
}


@media screen and (min-width: 401px) {
    .main-img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        background-size: 100% auto;
    }
}

iframe {
    max-width: 100%;
}

.home-btn {
    border-radius: 100%;
}

.curent-user {
    width: auto;
    border-radius: 100%;
    border: solid 2px #fff;
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
}

.super-form-control {
    border: none;
    border-bottom: solid 4px #df5152;
    border-radius: 0px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Lato;
    font-weight: bold;
}

.super-form-control:focus {
    border: none;
    border-bottom: solid 4px #df5152;
    border-radius: 0px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Lato;
    box-shadow: 0px 0px 5px #df5152;
}

.date-pic-container {
    background-color: #fff;
    text-align: center;
    color: #fff;
    font-size: bold;
    font-family: Lato;
}

.date-pic-header {
    background-color: #df5152;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: Lato;
    padding-top:5px;
    padding-bottom: 5px;
}

.date-pic-body {
    height: 80px;
    background-color: #fff;
}

.date-pic-date {
    color: #333;
    font-size: 50px;
    font-family: Lato;
    text-align: right;
}

.date-pic-month-years {
    color: #333;
    font-size: 20px;
    font-family: Lato;
    text-align: left;
    padding-top:10px;
}

.date-pic-date-pulang {
    color: #333;
    font-size: 50px;
    font-family: Lato;
    text-align: right;
}

.date-pic-month-years-pulang {
    color: #333;
    font-size: 20px;
    font-family: Lato;
    text-align: left;
    padding-top:10px;
}

.btn-special-action {
    background-color: #de4e4f;
    border: solid 1px #de4e4f;
    width: 100%;
    height: 40px;
    font-size: 20px;
}

.btn-special-action:hover {
    background-color: #c23233;
    border: solid 1px #c23233;
}

.btn-special-action:active {
    background-color: #c23233;
    border: solid 1px #c23233;
}

.btn-secondary-action {
    background-color: #ceced3;
    border: solid 1px #ceced3;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #797d81;
}

.btn-secondary-action:hover {
    background-color: #ceced3;
    border: solid 1px #ceced3;
    color : #555;
}

.btn-secondary-action:active {
    background-color: #ceced3;
    border: solid 1px #ceced3;
    color : #555;
}

.btn-secondary-action:focus {
    background-color: #ceced3 !important;
    border: solid 1px #ceced3 !important;
    color : #555 !important;
}

.big-tanggal {
    font-family: Lato;
    font-size: 25px;
    font-weight: normal;
    float: left;
}

.small-bulan-tahun-hari {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    float: left;
    padding-left: 5px;
    width: 60px;
}

.tanggal-container {
    border-right: solid 2px #91929c;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:5px;
}

.ticket-listing-header-container {
    padding-top:50px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.pilih-kursis-header-container {
    padding-top:50px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background-color: #df5152;
    color: #fff;
    border: none;
}

.to-circle {
    background-color: #93949f;
    color: #fff;
    z-index: 2;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    display: inline-block;
    width: 40px;
    padding-top: 8px;
    font-size: 18px;
    margin-top: 5px;
}

.destination-col p {
    margin-bottom: 0px;
}

.travel-row {
    border-bottom: solid 1px #ababab;
    padding-bottom: 10px;
    padding-top: 10px;
}

.travel-col p {
    margin: 0px;
}

.sisa-kursi-label {
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
}

.sisa-kursi-value {
    font-size: 16px;
    text-align: center;
}

.destination-paragraph {
    text-align:left;
    font-size:15px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.jam-berangkat {
    font-size: 15px;
    font-weight: normal;
}

.nama-mobil {
    font-size: 20px;
}

.refresh-btn {
    margin-left:25px;
    margin-top:5px;
    background-color: #e7817e;
}

.kursi {
    background-color: #fff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #4d4d4d;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.kursi.checked {
    background-color: #5ae143;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.kursi.booked {
    background-color: #ffb42a;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.kursi.sold {
    background-color: #555;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.kursi.locked {
    background-color: #ff8282;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
}

.row-kursi {
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.info-header {
    padding:5px;
    background-color: #df5152;
    color: #fff;
}
.info-header p {
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
    text-align: center;
}

.header-kursi-label {
    font-weight: normal;
    margin:0px;
}

.nomor-kursi-container {
    border-right: 2px solid rgb(245, 245, 245);
}

.login-main-container {
    background-color: #e4e4e5;
}

.login-logo-col {
    padding-top:20px;
    text-align: center;
}

.auth-page-title {
    text-align: center;
}

.auth-page-title h3 {
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
}

.main-form-col {
    padding-top:30px;
    padding-bottom:50px;
}

.main-error-model {
    padding:20px;
    text-align: center;
}

.main-error-model img {
    width: 100px;
}

.modal-error-message {
    padding: 20px;
    font-size: 15px;
    font-family: Lato;
    font-weight: bold;
}

.button-container {
    padding-top:30px;
    padding-bottom:30px;
    width: 100%;
    text-align: center;
}

.invoice-header {
    background-color: #e05455;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: normal;
    min-height: 180px;
}

.invoice-code {
    color:#fff;
    font-size: 25px;
    font-weight: bold;
}

.tanggal-pesan {
    background-color: #fff;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    color: #000;
    position: absolute;
    right: 20px;
    top: 70px;
    text-align: center;
}
.tanggal-big {
    font-weight: bold;
    font-size: 45px;
}

.bulan-tahun {
    font-size: 15px;
    margin-top:-25px;
}

.image-qr-code img {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 170px;
}

.android-version {
    background: #000;
    height: 12px;
    width: auto;
    bottom:0px;
    right: 0px;
    color: #fff;
    position: fixed;
    font-size: 10px;
    opacity: 0.5;
}

.btn-full {
    width: 100%;
}

.shelter-modal {
    height: 300px;
    overflow: auto;
}

.shelter-select-moda {
    min-height: 40px;
    padding: 5px;
    border-bottom: solid 1px #cdcdcd;
}

.helter-paragraph {
    margin-bottom: 0px;
}

.drop-paragraph {
    margin-bottom: 0px;
}

.shelter-select-moda:active {
    min-height: 40px;
    padding: 5px;
    border-bottom: solid 1px #cdcdcd;
    background-color: #eee;
    cursor: pointer;
}

.drop-modal {
    height: 300px;
    overflow: auto;
}

.drop-select-moda {
    min-height: 20px;
    padding: 0px;
    border-bottom: solid 1px #cdcdcd;
    padding-top: 10px;
}

.drop-select-moda:active {
    min-height: 20px;
    padding: 0px;
    border-bottom: solid 1px #cdcdcd;
    padding-top: 10px;
    background-color: #eee;
    cursor: pointer;
}

.status-label {
    height: 19px;
}

.loading-blok {
    text-align: center;
    z-index: 7;
    position: fixed;
    background-color: #eee;
    display: none;
}

.loading-blok h3 {
    text-align: center;
    font-weight: bold;
    color: #de4e4f;
}

.loading-blok img {
    max-width: 60%;
}

.book-icon {
    max-width: 70%;
}

.col-icon {
    text-align: center;
}

.body-container {
    padding-top: 70px;
}

.main-images {
    width: 100%;
}

.bookmark-list {
    background-color: #fff;    
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.header-main-title {
    font-family: Roboto;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    margin: 7px 0px 3px;    
}

.footer-control {
    background-color: rgba(0, 0, 0, 0.59);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    bottom: -1px;
    padding-top:8px;
}

.page-status {
    padding-left: 20px;
}

.page-status-span {
    font-size: 20px;
    color: #fff;
}

.container-upper-forground {
    background-image: url(../images/upper-forground.png);
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 10;
    margin-top: 50px;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-bottom-forground {
    background-image: url(../images/bottom-foreground.png);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    z-index: 10;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}